In [1]:
import getEPH
import functionsForModels
import make_dummy
import schoolYears
import categorize
import functionsForModels
import createVariables

import pandas as pd
#http://statsmodels.sourceforge.net/devel/examples/generated/example_wls.html
import numpy as np
from scipy import stats
import statsmodels.api as sm
import matplotlib.pyplot as plt
import seaborn as sns
from statsmodels.sandbox.regression.predstd import wls_prediction_std
from statsmodels.iolib.table import (SimpleTable, default_txt_fmt)
np.random.seed(1024)
%matplotlib inline

/home/pipe/anaconda2/lib/python2.7/site-packages/sklearn/cross_validation.py:44: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

In [ ]:
getEPH.getEPHdbf('t310')

In [2]:
data1 = pd.read_csv('data/cleanDatat310.csv')
data2 = categorize.categorize(data1)
data3 = schoolYears.schoolYears(data2)
data4 = createVariables.createVariables(data3)

In [13]:
data4.PONDERA.sum()

13059409

In [4]:
data = data4.copy()

In [7]:
jobsAndIncome = (data.activity == 1) & (data.lnIncome > 1) & ((data.familyRelation == 1)|(data.familyRelation == 2))
cleanData = data.copy().loc[jobsAndIncome,
                              ['id',
                            'familyRelation',
                              'age',
                              'age2',
                              'female',
                              'education',
                              'education2']]

In [8]:
cleanData.head()

        id  familyRelation  age  age2  female  education  education2
2  3078611               1   42  1764       0        7.0        49.0
3  3078611               2   44  1936       1       17.0       289.0
7  3082781               1   38  1444       0       17.0       289.0
8  3082781               2   28   784       1       17.0       289.0
9  3119371               1   63  3969       0       17.0       289.0

In [10]:
pivot = cleanData.pivot(index='id', columns='familyRelation')
pivot.head()

                 age          age2        female      education        \
familyRelation     1     2       1      2      1    2         1     2
id
1250971         57.0   NaN  3249.0    NaN    1.0  NaN      14.0   NaN
1256691         61.0   NaN  3721.0    NaN    0.0  NaN       7.0   NaN
1256892         31.0  23.0   961.0  529.0    0.0  1.0      12.0  12.0
1261181         38.0  30.0  1444.0  900.0    0.0  1.0       7.0   7.0
1261521         25.0  25.0   625.0  625.0    1.0  0.0      16.0  12.0

               education2
familyRelation          1      2
id
1250971             196.0    NaN
1256691              49.0    NaN
1256892             144.0  144.0
1261181              49.0   49.0
1261521             256.0  144.0

In [14]:
pivot.to_csv('pivotInd.csv')

In [19]:
dataN = pd.read_csv('pivotInd.csv', names = ['id','headAge','spouseAge','headAge2','spouseAge2','headFemale','spouseFemale',
                                             'headEduc','spouseEduc','headEduc2','spouseEduc2'],
                   skiprows = 3)
dataN

,id,headAge,spouseAge,headAge2,spouseAge2,headFemale,spouseFemale,headEduc,spouseEduc,headEduc2,spouseEduc2
0,1250971,57.0,NaN,3249.0,NaN,1.0,NaN,14.0,NaN,196.0,NaN
1,1256691,61.0,NaN,3721.0,NaN,0.0,NaN,7.0,NaN,49.0,NaN
2,1256892,31.0,23.0,961.0,529.0,0.0,1.0,12.0,12.0,144.0,144.0
3,1261181,38.0,30.0,1444.0,900.0,0.0,1.0,7.0,7.0,49.0,49.0
4,1261521,25.0,25.0,625.0,625.0,1.0,0.0,16.0,12.0,256.0,144.0
5,1261591,47.0,43.0,2209.0,1849.0,0.0,1.0,17.0,17.0,289.0,289.0
6,1265071,29.0,NaN,841.0,NaN,0.0,NaN,12.0,NaN,144.0,NaN
7,1267941,NaN,61.0,NaN,3721.0,NaN,1.0,NaN,17.0,NaN,289.0
8,1271011,50.0,NaN,2500.0,NaN,0.0,NaN,12.0,NaN,144.0,NaN
9,1271081,52.0,NaN,2704.0,NaN,0.0,NaN,10.0,NaN,100.0,NaN
10,1274431,55.0,NaN,3025.0,NaN,0.0,NaN,7.0,NaN,49.0,NaN
11,1274521,49.0,NaN,2401.0,NaN,1.0,NaN,16.0,NaN,256.0,NaN
12,1280071,44.0,NaN,1936.0,NaN,0.0,NaN,13.0,NaN,169.0,NaN
13,1280301,53.0,NaN,2809.0,NaN,1.0,NaN,3.0,NaN,9.0,NaN
14,1282641,42.0,38.0,1764.0,1444.0,0.0,1.0,15.0,15.0,225.0,225.0
15,1287171,32.0,28.0,1024.0,784.0,0.0,1.0,17.0,12.0,289.0,144.0
16,1288711,32.0,NaN,1024.0,NaN,0.0,NaN,7.0,NaN,49.0,NaN
17,1289451,26.0,NaN,676.0,NaN,0.0,NaN,13.0,NaN,169.0,NaN
18,1290891,50.0,NaN,2500.0,NaN,0.0,NaN,7.0,NaN,49.0,NaN
19,1292381,63.0,58.0,3969.0,3364.0,0.0,1.0,9.0,7.0,81.0,49.0
20,1292561,42.0,NaN,1764.0,NaN,0.0,NaN,12.0,NaN,144.0,NaN
21,1293491,26.0,NaN,676.0,NaN,0.0,NaN,4.0,NaN,16.0,NaN
22,1295421,47.0,NaN,2209.0,NaN,1.0,NaN,12.0,NaN,144.0,NaN
23,1296041,60.0,NaN,3600.0,NaN,1.0,NaN,7.0,NaN,49.0,NaN
24,1296111,31.0,NaN,961.0,NaN,0.0,NaN,7.0,NaN,49.0,NaN
25,1297111,33.0,32.0,1089.0,1024.0,0.0,1.0,15.0,17.0,225.0,289.0
26,1297141,34.0,NaN,1156.0,NaN,1.0,NaN,15.0,NaN,225.0,NaN
27,1297431,54.0,NaN,2916.0,NaN,0.0,NaN,12.0,NaN,144.0,NaN
28,1298211,36.0,NaN,1296.0,NaN,0.0,NaN,17.0,NaN,289.0,NaN
29,1298811,37.0,37.0,1369.0,1369.0,0.0,1.0,15.0,17.0,225.0,289.0
...,...,...,...,...,...,...,...,...,...,...,...
1886,3124961,26.0,34.0,676.0,1156.0,1.0,0.0,7.0,12.0,49.0,144.0
1887,3124991,33.0,36.0,1089.0,1296.0,0.0,1.0,12.0,12.0,144.0,144.0
1888,3125211,38.0,36.0,1444.0,1296.0,0.0,1.0,12.0,12.0,144.0,144.0
1889,3125241,38.0,NaN,1444.0,NaN,0.0,NaN,12.0,NaN,144.0,NaN
1890,3125261,58.0,40.0,3364.0,1600.0,0.0,1.0,7.0,12.0,49.0,144.0
1891,3125271,64.0,NaN,4096.0,NaN,0.0,NaN,12.0,NaN,144.0,NaN
1892,3125391,28.0,28.0,784.0,784.0,0.0,1.0,17.0,17.0,289.0,289.0
1893,3125461,NaN,51.0,NaN,2601.0,NaN,0.0,NaN,12.0,NaN,144.0
1894,3125671,41.0,NaN,1681.0,NaN,1.0,NaN,17.0,NaN,289.0,NaN
1895,3125751,31.0,NaN,961.0,NaN,0.0,NaN,12.0,NaN,144.0,NaN
1896,3125761,60.0,NaN,3600.0,NaN,0.0,NaN,7.0,NaN,49.0,NaN
1897,3126041,64.0,NaN,4096.0,NaN,0.0,NaN,2.0,NaN,4.0,NaN
1898,3126091,49.0,NaN,2401.0,NaN,1.0,NaN,0.0,NaN,0.0,NaN
1899,3126441,41.0,NaN,1681.0,NaN,0.0,NaN,7.0,NaN,49.0,NaN
1900,3126541,61.0,38.0,3721.0,1444.0,0.0,1.0,9.0,7.0,81.0,49.0
1901,3126681,57.0,NaN,3249.0,NaN,0.0,NaN,7.0,NaN,49.0,NaN
1902,3126731,48.0,NaN,2304.0,NaN,0.0,NaN,7.0,NaN,49.0,NaN
1903,3126761,43.0,46.0,1849.0,2116.0,0.0,1.0,5.0,6.0,25.0,36.0
1904,3126941,24.0,NaN,576.0,NaN,1.0,NaN,12.0,NaN,144.0,NaN
1905,3126991,51.0,NaN,2601.0,NaN,0.0,NaN,12.0,NaN,144.0,NaN
1906,3127001,48.0,NaN,2304.0,NaN,0.0,NaN,5.0,NaN,25.0,NaN
1907,3127011,60.0,57.0,3600.0,3249.0,1.0,0.0,10.0,7.0,100.0,49.0
1908,3127111,53.0,NaN,2809.0,NaN,1.0,NaN,15.0,NaN,225.0,NaN
1909,3127281,NaN,29.0,NaN,841.0,NaN,0.0,NaN,12.0,NaN,144.0
1910,3127391,58.0,52.0,3364.0,2704.0,0.0,1.0,4.0,9.0,16.0,81.0
1911,3127531,67.0,NaN,4489.0,NaN,1.0,NaN,12.0,NaN,144.0,NaN
1912,3127781,62.0,NaN,3844.0,NaN,1.0,NaN,15.0,NaN,225.0,NaN
1913,3128171,43.0,NaN,1849.0,NaN,1.0,NaN,12.0,NaN,144.0,NaN
1914,3128501,NaN,66.0,NaN,4356.0,NaN,1.0,NaN,7.0,NaN,49.0
1915,3128591,28.0,NaN,784.0,NaN,1.0,NaN,7.0,NaN,49.0,NaN

In [16]:
dataN

,Unnamed: 0,age,age.1,age2,age2.1,female,female.1,education,education.1,education2,education2.1
0,familyRelation,1.0,2.0,1.0,2.0,1.0,2.0,1.0,2.0,1.0,2.0
1,id,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1250971,57.0,NaN,3249.0,NaN,1.0,NaN,14.0,NaN,196.0,NaN
3,1256691,61.0,NaN,3721.0,NaN,0.0,NaN,7.0,NaN,49.0,NaN
4,1256892,31.0,23.0,961.0,529.0,0.0,1.0,12.0,12.0,144.0,144.0
5,1261181,38.0,30.0,1444.0,900.0,0.0,1.0,7.0,7.0,49.0,49.0
6,1261521,25.0,25.0,625.0,625.0,1.0,0.0,16.0,12.0,256.0,144.0
7,1261591,47.0,43.0,2209.0,1849.0,0.0,1.0,17.0,17.0,289.0,289.0
8,1265071,29.0,NaN,841.0,NaN,0.0,NaN,12.0,NaN,144.0,NaN
9,1267941,NaN,61.0,NaN,3721.0,NaN,1.0,NaN,17.0,NaN,289.0
10,1271011,50.0,NaN,2500.0,NaN,0.0,NaN,12.0,NaN,144.0,NaN
11,1271081,52.0,NaN,2704.0,NaN,0.0,NaN,10.0,NaN,100.0,NaN
12,1274431,55.0,NaN,3025.0,NaN,0.0,NaN,7.0,NaN,49.0,NaN
13,1274521,49.0,NaN,2401.0,NaN,1.0,NaN,16.0,NaN,256.0,NaN
14,1280071,44.0,NaN,1936.0,NaN,0.0,NaN,13.0,NaN,169.0,NaN
15,1280301,53.0,NaN,2809.0,NaN,1.0,NaN,3.0,NaN,9.0,NaN
16,1282641,42.0,38.0,1764.0,1444.0,0.0,1.0,15.0,15.0,225.0,225.0
17,1287171,32.0,28.0,1024.0,784.0,0.0,1.0,17.0,12.0,289.0,144.0
18,1288711,32.0,NaN,1024.0,NaN,0.0,NaN,7.0,NaN,49.0,NaN
19,1289451,26.0,NaN,676.0,NaN,0.0,NaN,13.0,NaN,169.0,NaN
20,1290891,50.0,NaN,2500.0,NaN,0.0,NaN,7.0,NaN,49.0,NaN
21,1292381,63.0,58.0,3969.0,3364.0,0.0,1.0,9.0,7.0,81.0,49.0
22,1292561,42.0,NaN,1764.0,NaN,0.0,NaN,12.0,NaN,144.0,NaN
23,1293491,26.0,NaN,676.0,NaN,0.0,NaN,4.0,NaN,16.0,NaN
24,1295421,47.0,NaN,2209.0,NaN,1.0,NaN,12.0,NaN,144.0,NaN
25,1296041,60.0,NaN,3600.0,NaN,1.0,NaN,7.0,NaN,49.0,NaN
26,1296111,31.0,NaN,961.0,NaN,0.0,NaN,7.0,NaN,49.0,NaN
27,1297111,33.0,32.0,1089.0,1024.0,0.0,1.0,15.0,17.0,225.0,289.0
28,1297141,34.0,NaN,1156.0,NaN,1.0,NaN,15.0,NaN,225.0,NaN
29,1297431,54.0,NaN,2916.0,NaN,0.0,NaN,12.0,NaN,144.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...
1888,3124961,26.0,34.0,676.0,1156.0,1.0,0.0,7.0,12.0,49.0,144.0
1889,3124991,33.0,36.0,1089.0,1296.0,0.0,1.0,12.0,12.0,144.0,144.0
1890,3125211,38.0,36.0,1444.0,1296.0,0.0,1.0,12.0,12.0,144.0,144.0
1891,3125241,38.0,NaN,1444.0,NaN,0.0,NaN,12.0,NaN,144.0,NaN
1892,3125261,58.0,40.0,3364.0,1600.0,0.0,1.0,7.0,12.0,49.0,144.0
1893,3125271,64.0,NaN,4096.0,NaN,0.0,NaN,12.0,NaN,144.0,NaN
1894,3125391,28.0,28.0,784.0,784.0,0.0,1.0,17.0,17.0,289.0,289.0
1895,3125461,NaN,51.0,NaN,2601.0,NaN,0.0,NaN,12.0,NaN,144.0
1896,3125671,41.0,NaN,1681.0,NaN,1.0,NaN,17.0,NaN,289.0,NaN
1897,3125751,31.0,NaN,961.0,NaN,0.0,NaN,12.0,NaN,144.0,NaN
1898,3125761,60.0,NaN,3600.0,NaN,0.0,NaN,7.0,NaN,49.0,NaN
1899,3126041,64.0,NaN,4096.0,NaN,0.0,NaN,2.0,NaN,4.0,NaN
1900,3126091,49.0,NaN,2401.0,NaN,1.0,NaN,0.0,NaN,0.0,NaN
1901,3126441,41.0,NaN,1681.0,NaN,0.0,NaN,7.0,NaN,49.0,NaN
1902,3126541,61.0,38.0,3721.0,1444.0,0.0,1.0,9.0,7.0,81.0,49.0
1903,3126681,57.0,NaN,3249.0,NaN,0.0,NaN,7.0,NaN,49.0,NaN
1904,3126731,48.0,NaN,2304.0,NaN,0.0,NaN,7.0,NaN,49.0,NaN
1905,3126761,43.0,46.0,1849.0,2116.0,0.0,1.0,5.0,6.0,25.0,36.0
1906,3126941,24.0,NaN,576.0,NaN,1.0,NaN,12.0,NaN,144.0,NaN
1907,3126991,51.0,NaN,2601.0,NaN,0.0,NaN,12.0,NaN,144.0,NaN
1908,3127001,48.0,NaN,2304.0,NaN,0.0,NaN,5.0,NaN,25.0,NaN
1909,3127011,60.0,57.0,3600.0,3249.0,1.0,0.0,10.0,7.0,100.0,49.0
1910,3127111,53.0,NaN,2809.0,NaN,1.0,NaN,15.0,NaN,225.0,NaN
1911,3127281,NaN,29.0,NaN,841.0,NaN,0.0,NaN,12.0,NaN,144.0
1912,3127391,58.0,52.0,3364.0,2704.0,0.0,1.0,4.0,9.0,16.0,81.0
1913,3127531,67.0,NaN,4489.0,NaN,1.0,NaN,12.0,NaN,144.0,NaN
1914,3127781,62.0,NaN,3844.0,NaN,1.0,NaN,15.0,NaN,225.0,NaN
1915,3128171,43.0,NaN,1849.0,NaN,1.0,NaN,12.0,NaN,144.0,NaN
1916,3128501,NaN,66.0,NaN,4356.0,NaN,1.0,NaN,7.0,NaN,49.0
1917,3128591,28.0,NaN,784.0,NaN,1.0,NaN,7.0,NaN,49.0,NaN

In [11]:
np.where(np.isnan(pivot.values),0,pivot.values)

array([[   57.,     0.,  3249., ...,     0.,   196.,     0.],
       [   61.,     0.,  3721., ...,     0.,    49.,     0.],
       [   31.,    23.,   961., ...,    12.,   144.,   144.],
       ...,
       [   43.,     0.,  1849., ...,     0.,   144.,     0.],
       [    0.,    66.,     0., ...,     7.,     0.,    49.],
       [   28.,     0.,   784., ...,     0.,    49.,     0.]])

In [12]:
pivot.shape

(1916, 10)