In [1]:
import pandas as pd
import numpy as np

This script takes a CSV file from REDATAM (first we need to open that file, which is a SYLK file, and then save it as a CSV file). The we go through the folder with the diferent files for each Comune and append al of them into one data frame to save it and them map it.

In [2]:
def readRedatamCSV(asciiFile):
    f = open(asciiFile, 'r')
    areas = []
    measures = []
    for line in f:
        columns = line.strip().split()
        #print columns
        if len(columns) > 0:
            if 'RESUMEN' in columns[0] :
                break
            elif columns[0] == 'AREA':
                area = str.split(columns[2],',')[0]
                areas.append(area)
            elif columns[0] == 'Total':
                measure = str.split(columns[2],',')[2]
                if measure == '-':
                    measure = np.nan
                measures.append(measure)
    try:        
        data = pd.DataFrame({'area':areas,'measure':measures})
        return data
    except:
        print asciiFile

In [3]:
comunasFile = '/home/pipe/Dropbox/NYU/classes/Applied Data Science/adsProject/data/indecOnline/headEducYjobs/comuna.csv'
comunas = readRedatamCSV(comunasFile)

In [4]:
comunas.area

0     02001
1     02002
2     02003
3     02004
4     02005
5     02006
6     02007
7     02008
8     02009
9     02010
10    02011
11    02012
12    02013
13    02014
14    02015
Name: area, dtype: object

In [86]:
#ruta = '/home/pipe/Dropbox/NYU/classes/Applied Data Science/adsProject/data/indecOnline/headEducYjobs/'
#archivo = ruta + dpto + '.csv'
#dpto = '02001'
#comunas = readRedatamCSV(archivo)

In [7]:
baseMadre = comunas.loc[comunas.measure==0,:]
ruta = '/home/pipe/Dropbox/NYU/classes/Applied Data Science/adsProject/data/indecOnline/MODELO1E/'
for i in comunas.area:
    archivoCSV = ruta + i + '.csv'
    data = readRedatamCSV(archivoCSV)
    baseMadre = baseMadre.append(data)

In [8]:
#baseMadre.measure.replace('-','',inplace=True)

In [9]:
baseMadre.measure = baseMadre.measure.apply(float)

In [10]:
baseMadre.to_csv(ruta + 'modelo1e.csv',index=False)

In [11]:
baseMadre

          area  measure
0    020010101  6907.65
1    020010201  3919.54
2    020010202  3136.87
3    020010203  3729.94
4    020010204  4773.21
5    020010205  3360.95
6    020010206  3632.14
7    020010207  3578.48
8    020010208  4361.52
9    020010209  4125.36
10   020010210  4523.67
11   020010211  3939.89
12   020010212  4107.20
13   020010213  4470.86
14   020010214  4161.47
15   020010215  4065.70
16   020010216  4173.94
17   020010217  3812.66
18   020010218  3840.72
19   020010219  4269.10
20   020010301  3486.98
21   020010302  4168.97
22   020010303  3783.70
23   020010304  3338.92
24   020010305  3357.83
25   020010306  3945.33
26   020010307  4082.31
27   020010308  3825.98
28   020010309  4273.39
29   020010310  3880.89
..         ...      ...
208  020151907  5384.29
209  020151908  5322.41
210  020151909  6185.80
211  020151910  5721.28
212  020151911  5703.35
213  020152001  5925.50
214  020152002  5475.50
215  020152003  5635.62
216  020152004  5554.65
217  020152005  5624.04
218  020152006  5417.28
219  020152007  5881.54
220  020152008  5844.28
221  020152009  5175.11
222  020152010  5856.10
223  020152011  5238.52
224  020152012  5690.55
225  020152101  5628.22
226  020152102  5931.60
227  020152103  5677.25
228  020152104  5499.86
229  020152105  5296.30
230  020152106  5832.18
231  020152107  5758.39
232  020152108  5847.89
233  020152109  5568.63
234  020152110  5432.73
235  020152111  5946.88
236  020152112  5619.26
237  020152113  5614.51

[3553 rows x 2 columns]