In [1]:
import pandas as pd
import numpy as np
import os
import sys
import simpledbf
from getEPH import getEPHdbf

In [2]:
## select the trimester that you like to download ex. t311, t310
trimestre = 't310'
getEPHdbf(trimestre)

('Downloading', 't310')
file in place, creating CSV file
('csv file cleanData', 't310', '.csv successfully created')

In [3]:
ind = pd.read_csv('data/cleanData' + trimestre + '.csv')
ind.head()

,CODUSU,NRO_HOGAR,COMPONENTE,AGLOMERADO,PONDERA,familyRelation,female,age,schoolLevel,finishedYear,lastYear,activity,empCond,unempCond,ITF,IPCF,P47T
0,302468,1,1,32,1287,1,2,20,7,2,1.0,3,0,3,4000,2000.0,2000
1,302468,1,2,32,1287,10,2,20,6,2,1.0,3,0,3,4000,2000.0,2000
2,307861,1,1,32,1674,1,1,42,2,1,NaN,1,3,0,5800,1450.0,3000
3,307861,1,2,32,1674,2,2,44,7,1,NaN,1,3,0,5800,1450.0,2800
4,307861,1,3,32,1674,3,1,13,4,2,0.0,3,0,3,5800,1450.0,0